
ul.ack > li,
ul.flat > li {
    display: inline;
}

ul.ack > li:after,
ul.flat > li:after {
    content: ', '
}

ul.ack > li:last-child:after,
ul.flat > li:last-child:after {
    content: ''
}

ul.flat {
	display: inline;
	padding-left: 0;
}

dt, dd {
	padding-top: 0.5em;
}

dfn {
	font-weight: bold !important;
}

span.orcid a {
	border-bottom: none !important;
}


/* Table zebra style... */
table.zebra {
    font-size:inherit;
    font:90%;
    margin:1em;
}

table.zebra td {
    padding-left: 0.3em;
}

table.zebra th {
    font-weight: bold;
    text-align: center;
    background-color: rgb(0,0,128) !important;
    font-size: 110%;
    background: hsl(180, 30%, 50%);
    color: #fff;
}

table.zebra th a:link {
  color: #fff;
}

table.zebra th a:visited {
  color: #aaa;
}

table.zebra tr:nth-child(even) {
    background-color: hsl(180, 30%, 93%)
}

table.zebra th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table.zebra td{border-bottom:1px solid #ddd;padding:.2em 1em;}

details {
	background-color: rgb(245,245,245);
	border-left: 0.3em solid rgb(200,200,200);
	padding: 0.3em;
}

summary {
	font-size: small;
}
